.navbar{
  width: 100%;
  z-index: 100;
  position: fixed; // Add this line to make the navbar fixed at the top
  top: 0; // Add this line to position the navbar at the top
  height: 100px;
  background-color: #000;
  .wrapper{
    max-width:1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height:100%;
    align-items: center;
  }
  .logo{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }

  .nav-menu{
    display: flex;
    gap:50px;
    .nav-item{
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
      transition: all 0.3s ease;
      &:hover{
        color: #f1f1f1;
      }
    }
  }
}