.navbar{
  width: 100%;
  z-index: 100;
  position: fixed; // Add this line to make the navbar fixed at the top
  top: 0; // Add this line to position the navbar at the top
  height: 100px;
  background-color: #000;
  .wrapper{
    max-width:1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height:100%;
    align-items: center;
  }
  .logo{
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
  }

  .nav-menu{
    display: flex;
    gap:50px;
    align-items: center;
    .nav-item{
      cursor: pointer;
      font-size:.8rem;
      letter-spacing: 1px;
      color: #fff;
      transition: all 0.3s ease;
      &:hover{
        color: #f1f1f1;
      }
    }
    .nav-cta-button {
      font-weight: bold;
      background: linear-gradient(to right, #f9d423 0%, #f83600 100%);
      border: none;
      color: white;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: transform 0.3s ease-in-out;
      border-radius:5px;
      &:hover {
        transform: scale(1.05);
        color: #fff;
      }
    }
  }
}